.DS_Store
.idea
assets/.DS_Store
build/node_modules
vendor
.php-version
.env
tests/playwright/playwright-report
tests/playwright/test-results

# Yarn
/build/.yarn/*
!/build/.yarn/patches
!/build/.yarn/plugins
!/build/.yarn/releases
!/build/.yarn/sdks
!/build/.yarn/versions
node_modules
