<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	cacheResultFile=".phpunit.cache/result"
	convertDeprecationsToExceptions="false"
	failOnWarning="true"
	failOnRisky="true"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
