.wc-credit-card-form-monei {
	width: 360px;
	height: 400px;
	margin: 60px auto 0;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}
.wc-credit-card-form-monei .form-header {
	height: 60px;
	padding: 20px 30px 0;
	border-bottom: 1px solid #e1e8ee;
}
 
.wc-credit-card-form-monei .form-body {
	height: 340px;
	padding: 30px 30px 20px;
}

/* Common */
.card-number-monei,
.cvv-input-monei input,
.month-monei select,
.year-monei select {
	font-size: 14px;
	font-weight: 100;
	line-height: 14px;
}
 
.card-number-monei,
.month-monei select,
.year-monei select {
	font-size: 14px;
	font-weight: 100;
	line-height: 14px;
}
 
.card-number-monei,
.cvv-details-monei,
.cvv-input-monei input,
.month-monei select,
.year-monei select {
	opacity: .7;
	color: #86939e;
}