[class*="payment_method_monei"] label {

}

label .monei-icons{
    margin-left: 15px;
    margin-right:0;
    padding-right:0;
    max-height: 28px !important;
    max-width: 80px !important;
  }
  .monei-icons svg{
      width: auto;
  }

/* Applies to the apple/google button in checkout*/
#wc-monei-payment-request-form{
    border:none;
    padding:0 !important;
    margin:0!important;
}